<!DOCTYPE html>
<html>
<head>
    <title>Database Management</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <h1>Database Management</h1>
        
        <!-- Sensor selection buttons -->
        <div class="sensor-button" id="sensorButtonsContainer"></div>

        <script src="script.js"></script>
    </div>

    <!-- Form for creating a record -->
    <div id="form-container">
        <div id="create-form" class="form-section">
            <h2>Create Record</h2>
            <form id="createRecordForm" action="/create" method="POST" enctype="multipart/form-data">
                <label>Name:</label>
                <input type="text" name="name"><br>
                <label>DOB (dd/mm/yyyy):</label>
                <input type="text" name="dob"><br>
                <label>Sex (M/F):</label>
                <input type="text" name="sex"><br>
                <label>Hypertension (Y/N):</label>
                <input type="text" name="high_bp"><br>
                <label>Actual SBP (mmHg):</label>
                <input type="text" name="actual_sbp"><br>
                <label>Actual DBP (mmHg):</label>
                <input type="text" name="actual_dbp"><br>
                <label>Time (yyyy-mm-dd hh:mm:ss):</label>
                <input type="text" name="time"><br>
                <label>File ('txt', 'npy', 'csv'):</label>
                <input type="file" name="file"><br>
                <button id="createRecordButton" class="action-button">Create Record</button>
            </form>
        </div>

        <!-- Form for retrieving records -->
        <div id="get-form" class="form-section">
            <h2>Get Records</h2>
            <form id="getRecordsForm" action="/records" method="GET">
                <label>User ID:</label>
                <input type="text" name="user_id"><br>
                <label>Name:</label>
                <input type="text" name="name"><br>
                <label>Start Time:</label>
                <input type="text" name="start_date"><br>
                <label>End Time:</label>
                <input type="text" name="end_date"><br>
                <button id="getRecordsButton" class="action-button">Get Records</button>
                <button id="downloadRecordsButton" class="action-button">Download Records</button>

            </form>
        </div>
    </div>

    <!-- Table to display records -->
    <div class="table-container">
        <h2>Records</h2>
        <div id="sortButtons" class="sort-buttons">
            <span>Sort by:</span>
            <button id="sortByUserIdButton">User ID</button>
            <button id="sortByTimeButton">Time</button>
        </div>
        <table id="recordsTable">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>DOB</th>
                    <th>Sex</th>
                    <th>Hypertension</th>
                    <th>Actual SBP</th>
                    <th>Actual DBP</th>
                    <th>Time</th>
                    <th>File</th>
                </tr>
            </thead>
            <tbody>
                <!-- Rows will be dynamically added here -->
            </tbody>
        </table>

        <!-- Pagination -->
        <div id="pagination" class="pagination">
            <button id="prevPageButton">Previous</button>
            <span id="currentPage"></span>
            <button id="nextPageButton">Next</button>
        </div>
    </div>
</body>
</html>
